
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* CSS FILE */

* {
  margin: 0;
  font-family: 'Poppins'
}

body {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
  align-items: center;
  margin-bottom: 8px;
  position: sticky; 
  top: 0;
  padding-top: 44px;
  background-color: white;
}

header #logo {
  height: 32px;
  width: 32px;
  padding-left: 8px ;
}

header #notification {
  height: 24px;
  width: 24px;
  padding-right: 8px ;
}

section.carousel-container {
  display: flex;
  flex-direction: row;
  height: 126px;
  width: calc(100vw - 32px);
  overflow-x: scroll;
}

.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 102px;
  margin: 8px;
}

.story img{
  width:78px;
}

section.feed-container img {
  width: 171px;
}

section .column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: right;
}

section.feed-container img {
  width: 100%;
  padding-bottom: 8px;
}

section.feed-container {
  width: calc(100vw - 32px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section .col1 {
  padding-right: 8px;
}
section .col2 {
  padding-left: 8px;
}


.nav-button {
  height: 40px;
  width: 40px;
}

.nav-button.add {
  width: 70px;
  height: 70px;
  position: relative;
  bottom:50%;
}

.nav-container {
  width: 90%;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: 52px;
  align-items: center;
  position: sticky; 
  bottom: 0;
  padding-top: 8px;
  background-color: white;
  padding-bottom: 42px;
}